[production]
phpSettings.display_startup_errors = "1"
phpSettings.display_errors = "1"
phpSettings.date.timezone = "Europe/Berlin"
includePaths.library = APPLICATION_PATH "/../library"
appnamespace = "Fortuna"
autoloaderNamespaces.Fortuna = "Fortuna_"
autoloaderNamespaces.Twitter = "Twitter_"
resources.frontController.params.displayExceptions = "1"
resources.frontController.moduleDirectory = APPLICATION_PATH "/modules"
resources.frontController.prefixDefaultModule = "1"
resources.frontController.defaultControllerName = "index"
resources.frontController.defaultModule = "fortuna"
resources.frontController.defaultAction = "index"
resources.frontController.moduleControllerDirectoryName = "controllers"
resources.view.doctype = "HTML5"
resources.view.encoding = "UTF-8"
resources.layout.0 = ""
resources.modules.0 = ""
resources.db.adapter = "pdo_mysql"
resources.db.params.host = ""
resources.db.params.username = ""
resources.db.params.password = ""
resources.db.params.dbname = ""
resources.db.isDefaultTableAdapter = "1"
resources.locale.default = "de"
resources.translate.adapter = "array"
resources.translate.data = APPLICATION_PATH "/../data/translations"
resources.translate.scan = Zend_Translate::LOCALE_DIRECTORY
resources.translate.locale = "de"
resources.translate.registry = "Zend_Translate"
resources.translate.disableNotices = true
resources.mail.transport.type = "Sendmail"
resources.mail.defaultFrom.email = "noreply@fortuna.cms"
resources.mail.defaultFrom.name = "Fortuna CMS"
resources.router.routes.login.route = "/login"
resources.router.routes.login.defaults.module = "fortuna"
resources.router.routes.login.defaults.controller = "auth"
resources.router.routes.login.defaults.action = "login"
resources.router.routes.recover.route = "/recover/:link"
resources.router.routes.recover.defaults.module = "fortuna"
resources.router.routes.recover.defaults.controller = "auth"
resources.router.routes.recover.defaults.action = "recover"
resources.router.routes.recover.defaults.link = ""
resources.router.routes.article.route = "/article/:slug/:id"
resources.router.routes.article.defaults.module = "fortuna"
resources.router.routes.article.defaults.controller = "index"
resources.router.routes.article.defaults.action = "article"
resources.router.routes.article.defaults.slug = ""
resources.router.routes.article.defaults.id = ""
resources.router.routes.category.route = "/category/:slug/:id"
resources.router.routes.category.defaults.module = "fortuna"
resources.router.routes.category.defaults.controller = "index"
resources.router.routes.category.defaults.action = "category"
resources.router.routes.category.defaults.slug = ""
resources.router.routes.category.defaults.id = ""
fortuna.table_prefix = "fortuna_"
fortuna.theme = "journal"
fortuna.themes_dir = APPLICATION_PATH "/../../assets/themes"
fortuna.config_path = APPLICATION_PATH "/configs/application.ini"
fortuna.schema_path = APPLICATION_PATH "/../data/schema"
fortuna.faq_path = APPLICATION_PATH "/../data/faq.xml"
fortuna.emails_path = APPLICATION_PATH "/../data/emails"
fortuna.installed_schema = false
fortuna.app_title = "Fortuna CMS"

[staging : production]

[testing : production]

[development : production]